# Alguns métodos de resolução de sistemas lineares

# Método de eliminação de Gauss (sem pivotação)

###### Consiste em aplicar um conjunto de operações elementares em um sistema linear com o objetivo de torná-lo mais simples. A solução do sistema se dá através do processo de triangularização-retrossubstituição. Basicamente, trata-se do escalonamento da matriz de coeficientes e substituição de valores de maneira conveniente.

In [25]:
import numpy as np
import pandas as pd

In [26]:
n = 3 ## tamanho da matriz de exemplo

In [27]:
x = np.zeros((n, 1)) ##esse vetor vai conter as respostas do sistema

In [28]:
M = np.zeros((n,n+1)) ##seta uma matriz de exemplo; a coluna sempre tem que ter dimensão n+1 pois ela recebe
#tambem o vetor de resposta. Vamos a seguir popular a nossa matriz com um exemplo simples de sistema possível e determinado
### como exemplo de aplicação do algoritmo de Gauss sem pivotação

In [29]:
M[0][0] = 0.448
M[0][1] = 0.832
M[0][2] = 0.193
M[0][3] = 1
M[1][0] = 0.421
M[1][1] = 0.784
M[1][2] = -0.207
M[1][3] = 0
M[2][0] = -0.319
M[2][1] = 0.884
M[2][2] = 0.279
M[2][3] = 0

### Triangularização (nome feio para escalonamento - que também não é bonito)

In [30]:
def triangula(M, j, n):   ###esta função traz o indice da coluna em que estamos, a matriz, e o tamanho da matriz de coeficientes
    pivo = M[j,j]         ### ela vai escalonar a linha a partir do indice da coluna
    for i in range(j+1,n):
        M[i,:] = M[i,:] - (M[i,j]/pivo)*M[j,:]
    return M

In [31]:
for k in range(n-1): ###anda os passos necessarios ao longo das colunas para fazer a triangulação na matriz toda
    triangula(M, k, n)

In [32]:
pd.DataFrame(M).head() ##temos a matriz perfeitamente triangulada. Note que a coluna de respostas tambem sofre alterações

       0         1           2           3
0  0.448  0.832000    0.193000    1.000000
1  0.000  0.002143   -0.388368   -0.939732
2  0.000  0.000000  268.002187  648.187500

## Retrossubstituição (ou, atribuição das soluções do sistema)

### Vamos exibir os coeficientes da matriz em função de suas coordenadas para faciliar o entendimento

In [33]:
%%latex
\begin{equation}
\left[
    \begin{array}{ccc:c}
        M[0,0]x_1 & M[0,1]x_2 & M[0,2]x_3 & M[0,3]\\
        0 & M[1,1]x_2 & M[1,2]x_3 & M[1,3]\\
        0 & 0 & M[2,2]x_3 & M[2,3]\\
    \end{array}
\right]
\end{equation}

### Neste caso, teriamos:

In [42]:
%%latex
\begin{equation}
x_3 = \frac{M[2,3]}{M[2,2]}\\
x_2  = \frac{M[1,3]}{M[1,1]} - \frac{M[1,2]*x_3}{M[1,1]}\\
x_1  = \frac{M[0,3]}{M[0,0]} - \frac{M[0,2]*x_3}{M[0,0]} - \frac{M[0,1]*x_2}{M[0,0]}
\end{equation}

### Note que os coeficientes que acompanham as incógnitas $x_i$ andam até o limite (n-i) nas colunas; ex: na linha 3, 0 passos; na linha 2, 1 passo (até M[1,2]); na linha 1, 2 passos (até M[0,1]).

In [35]:
## começamos com o caso de i = n (andamos de baixo pra cima na matriz)
x[n-1] = M[n-1, n]/M[n-1, n-1]

In [36]:
for i in range(1, n): ###restringimos os casos a partir de n-1. o indexador do python ja fa isso naturalmente [1,n) ==[1,n-1]
    termo_ind = M[n-i-1,n]/M[n-i-1,n-i-1] 
    soma = 0
    for j in range(n-i, n):           ###esta parte do loop é a mais crucial de ser entendida; escreva numa folhinha de papel o que ela faz que fica facil de enxergar
        soma += ((M[n-i-1,j])/(M[n-i-1,n-i-1]))*x[j]
    x[n-i-1] = termo_ind - soma          ####o vetor de respostas vai sendo alimentado de tras pra frente tambem

In [37]:
pd.DataFrame(x)

          0
0  1.561414
1 -0.199882
2  2.418590

In [43]:
pd.DataFrame(M)

       0         1           2           3
0  0.448  0.832000    0.193000    1.000000
1  0.000  0.002143   -0.388368   -0.939732
2  0.000  0.000000  268.002187  648.187500

### Verificando se resultou na solução correta:

In [44]:
np.dot(M[:,0:3],x) #Sim!

array([[  1.        ],
       [ -0.93973214],
       [648.1875    ]])